<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/categorias/nova">Nova Categoria</a> <br>
  <% categorias.forEach(categoria => { %>
    <%= categoria.categoria %> <a href="/categorias/excluir/<%= categoria.id %>"> Excluir </a> <br>
  <% }) %>
</body>
</html>